.heading {
  // @include font-neue-haas-bold();

  margin: 0;
  padding: 0;
}

.subheading {
  // @include font-neue-haas-regular();

  margin: 0;
  padding: 0;
}

.paragraph {
  // @include font-neue-haas-regular();

  margin: 0;
  padding: 0;
}