// Fonts
$font-base-size: 16px;

// --
// $font-family-neue-haas: 'Neue Haas Grotesk';

// Colors
$color-primary: #b9090b;
// $color-secondary: #5a5a5a;
// $color-grey: #5a5a5a;
// $color-dark: #191919;

// $color-white: #fff;
// $color-black: #000;
// $color-error: #F05656;

// $color-background: #141414;

// Adaptive
$breakpoint-narrow: 480px;
$breakpoint-regular: 768px;
$breakpoint-wide: 1024px;